@import url('header.css');
@import url('footer.css');

/*----------- MEDIA QUERIES NEEDS TO BE AT BOTTOM -----------*/          
@import url('mediaqueries.css');


                              

:root {
    --blue: #46D3FF;
    --whitetext: FFFFFF;
    --boxes1: 1C1C1C;
    --boxes2: 232323;
    --pagebackroundcolor: 121212;
    --footer: rgba(82, 82, 82, 0.17);
    --mobilefooterbackround: 0C0C0C;
}


                                /*----------- MAIN AREA -----------*/


a {
    all: unset;
}


body {
    background-color: var(--pagebackroundcolor);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-width: 350px;
    font-family: 'Poppins', sans-serif;
    color: var(--whitetext);

}


#emptycartheader1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: var(--whitetext);
    font-size: 3rem;
    margin: 0;

}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: var(--whitetext);
    font-size: 1.5rem;
    margin: 0;
}


.textcontainercart {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 3vh;
    padding-bottom: 18vh;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

ul {
    margin: 0;
    margin-top: 0 !important;
}


#addgamestocart {
    cursor: pointer;
}


main {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

body, html {
    overflow: hidden;
}







