

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: aliceblue;
}


.btn {
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    background-color: 121212;
    color: FFFFFF;
    border-style: none;
    margin-top: 0;
    padding: 5 15;
    cursor:pointer;
    margin-right: 61;
    font-weight: 600;
    transition: color 0.2s, backround-color 0.2s;

    &:hover {
        color: 46D3FF;
    }
}

body {
    background-color: 121212;
}

ul {
    margin-right: auto;
} 

.TopSellersGames {
    float: left;
    display: flex;
    flex-direction: row;
  }

  .headerbuttons {
    padding-left: 58px;
    padding-top: 28px;
    display: flex;
    align-items: center
  }
  
main {
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
}

.header-container {
    display: flex;
    align-items: center;
}

#logoimage {
    align-items: center;
    padding-right: ;
    padding-top: 21px;
    padding-left: 58px;
}