

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: aliceblue;
}


.headerbuttons {
    display:flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    background-color: blue;
    color: aliceblue;
}

body {
    background-color: 121212;
}

ul {
    margin-right: auto;
} 

.TopSellersGames {
    float: left;
    display: flex;
    flex-direction: row;
  }
  