header {
    position: relative;
    max-width: 100%;
    display: flex;
    justify-content: left;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: aliceblue;
    padding-left: 50;
    padding-top: 30;
    padding-bottom: 33;
    text-transform: uppercase;
    margin: 0;
}


.btn {
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25em;
    text-transform: uppercase;
    background-color: 121212;
    color: FFFFFF;
    border-style: none;
    margin-top: 0;
    padding: 5 15;
    cursor:pointer;
    margin-right: 61;
    font-weight: 600;
    transition: color 0.2s, backround-color 0.2s;

    &:hover {
        color: 46D3FF;
    }
}

body {
    background-color: 121212;
    margin: 0;
    width: 100%;
    height: 100%;

}

ul {
    margin-right: auto;
} 

.TopSellersGames {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 51;
    padding: 0;
    align-self: center;
    list-style: none;

  }

  .TopSellersGames > li {
    margin-right: 60px;
    width: 100%;
  }

  .TopSellersGames > li:hover {
    transition: 0.1s;
    transform: scale(1.1); 
  }


  .headerbuttons {
    padding-left: 58px;
    padding-top: 28px;
    display: flex;
    align-items: center
  }
  
main {
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
}

.header-container {
    display: flex;
    align-items: center;
}

#logoimage {
    align-items: center;
    padding-right: ;
    padding-top: 25px;
    padding-left: 58px;
    width: 80;
}

.rolling-backround {
    max-width: 100%;
    height: auto;
    position: relative;
    padding-top: 35px;
    }

#backroundimage {
    width: 100%;
}

#shoppingcarticon {
    stroke: 2.39;
    scale: 1.25;
}

/*@media screen and (max-width: 600px) and (orientation: portrait) {
    body {
        background-color: aqua;
        scale: 0.2;
    }
  } */